.navbar{
    background-color:black;
    color: beige;
}
.li1{
    font-size: 25px;
    margin-left: 50px;
    color: orangered
}
.li2{
    font-size: 25px;
    margin-left: 135px;
    color: lime
}
.li3{
    font-size: 25px;
    margin-left: 100px;
    color:blue;
}
.li4{
    font-size: 25px;
    color:red;
    
}